.update-name label {
  display: block;
  margin-top: 20px;
}

.update-name label span {
  display: block;
  margin-bottom: 7px;
}

.update-name label input {
  padding: 10px;
}

.update-name label button {
  margin-top: 10px;
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: #323232;
}
